/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --primaryColor: #f1f1f1;
    --black: #222;
    --black2: #555;
    --black3: #252525;
    --black4: #000;
    --black5: #212529;
    --orange: #eb0028;
    --white: #fff;
    --icon: #ffc8c2;
    --grey: #959595;
    --grey2: #666;
    --grey3: #ccc;
    --secondaryColor: #2b1f4d;
    --yellow: #ffcc00;
    --green: #59b210;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f7f7f7;
}


/* header starts */

header {
    position: relative;
    z-index: 100;
    width: 100%;
    background-color: transparent;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.10);
}

#navbar {
    height: 80px;
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid brown; */
}

#navbar .logo {
    margin: 0;
    padding: 0;
}

#navbar .logo a {
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}

#navbar .logo a img {
    height: 60px;
    cursor: pointer;
    align-items: center;
}

#navbar ul {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
}

#navbar ul li {
    text-transform: uppercase;
    color: gray;
    list-style: none;
    display: inline-block;
    position: relative;
    font-size: 15px;
}

#navbar ul li a {
    color: #9b9dad;
    display: inline-block;
    padding: 0 10px;
    list-style: none;
    text-decoration: none;
    font-weight: 400;
}

#navbar ul li a:hover {
    color: #4967c0;
}

#navbar ul li::before {
    content: '';
    height: 3px;
    width: 0;
}

#navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #4967c0;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

#navbar ul li:hover::after {
    width: 100%;
}


/* navigation icon starts */

.nav__icons {
    display: flex;
    position: relative;
}

.nav__icons a {
    display: flex;
    position: relative;
}

.nav__icons .iconitem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .7rem;
    /* border: 1px solid var(--black); */
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.nav__icons .iconitem img {
    height: 1.2rem;
}

.nav__icons .iconitem:link,
.nav__icons .iconitem:visited {
    color: var(--black);
}

.nav__icons .iconitem:hover {
    background-color: var(--icon);
    /* border: 1px solid var(--black); */
}

.nav__icons .iconitem:not(:last-child) {
    margin-right: 1rem;
}

.nav__icons #cart__total {
    font-size: .6rem;
    position: absolute;
    top: 2px;
    right: -6px;
    background-color: var(--orange);
    padding: .2rem .4rem;
    border-radius: 100%;
    color: var(--primaryColor);
}


/* navigation icon ends */


/* header ends */


/* home start */

#home_container {
    position: relative;
    width: 100%;
    /* border: 1px solid black; */
    height: 85vh;
    z-index: -1;
    /* box-shadow: 0 10px 22px rgba(0, 0, 0, 0.09), 0 10px 10px rgba(0, 0, 0, 0.09); */
}

#home_container .home {
    margin: 0 20px;
    height: 70vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.home .text_section {
    max-width: 600px;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
}

#home_container .home .text_section h2 {
    text-transform: uppercase;
    text-align: left;
    color: #333;
    font-size: 5rem;
}

.home .text_section h2 span {
    color: rgb(139, 27, 27);
}

.home .text_section p {
    max-width: 500px;
    font-family: 'Times New Roman', Times, serif color: #666;
    font-size: 0.9rem;
}

.home .text_section a {
    /* display: inline-block; */
    width: 170px;
    padding: 12px 8px;
    text-align: center;
    text-transform: uppercase;
    background: rgb(139, 27, 27);
    border: 1px solid #fff;
    color: #fff;
    border-radius: 40px;
    list-style: none;
    text-decoration: none;
}

.home .text_section a:hover {
    background: transparent;
    color: gray;
}

.home .img_section {
    width: 600px;
    display: flex;
    justify-content: flex-end;
}

.home .img_section img {
    width: 100%;
    animation: float 3s linear infinite;
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0rem);
    }
    50% {
        transform: translateY(3rem);
    }
}

.home .thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.home .thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

#home_container .home .thumb li:hover {
    transform: translateY(-15px);
}

.thumb li img {
    max-width: 40px;
}


/* home end */


/* our special dishesh start */

#special_dishes {
    margin: 0;
    padding: 0;
}

#special_dishes h2 {
    margin: 20px 0;
    padding: 10px 0;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 42px;
    font-family: 'Play', sans-serif;
    text-transform: uppercase;
}

#special_dishes h2 span {
    color: rgb(139, 27, 27);
}

#special_dishes .dishes_card {
    /* border: 1px solid pink; */
    border-radius: 15px;
    width: 100%;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: space-around;
    overflow: scroll;
}

#special_dishes .dishes_card .card1 {
    width: 360px;
    height: 420px;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 15px;
    gap: 0.5rem;
    background-color: #e7f9ff;
}

#special_dishes .dishes_card .card1:hover {
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.09), 0 10px 10px rgba(0, 0, 0, 0.09);
}

#special_dishes .dishes_card .card1 img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 15rem;
    opacity: 1;
}

#special_dishes .dishes_card .card1 h3 {
    align-items: center;
    color: #000;
    text-align: center;
    font-family: 'Play', sans-serif;
    letter-spacing: .3rem;
}

#special_dishes .dishes_card .card1 p {
    padding: 0 15px;
    color: #8c8b8b;
    font-size: 13px;
}


/* our special dishesh end  */


/* most popular dishes start */

#popular_dishes {
    margin: 0;
    padding: 0;
    /* border: 2px solid green; */
}

#popular_dishes h2 {
    margin: 20px 0;
    padding: 10px 0;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 42px;
    font-family: 'Play', sans-serif;
    text-transform: uppercase;
}

#popular_dishes h2 span {
    color: rgb(139, 27, 27);
}

#popular_dishes .popular_foods {
    /* border: 1px solid pink; */
    border-radius: 15px;
    width: 100%;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

.popular_foods .box1 {
    width: 100%;
    height: 200px;
    border: 1px solid rgb(230, 44, 44)223, 53, 53);
    border-radius: 10px;
}

.popular_foods .box1 img {
    height: 200px;
    border-radius: 10px;
    z-index: -1;
}


/* most popular dishes end */


/* processing section starts */

#processing_section {
    /* border: 1px solid blueviolet; */
    width: 100%;
    height: 60vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#processing_section h2 {
    margin: 20px 0;
    padding: 10px 0;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 42px;
    font-family: 'Play', sans-serif;
    text-transform: uppercase;
}

#processing_section h2 span {
    color: rgb(139, 27, 27);
}

#processing_section .process_management {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

#processing_section .process_management {
    width: 100%;
    /* border: 1px solid goldenrod; */
}

#processing_section .process_management .card_one {
    border-radius: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#processing_section .process_management .card_one img {
    height: 150px;
    border-radius: 50%;
    border: 3px solid whitesmoke;
    align-items: center;
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.09), 0 10px 10px rgba(0, 0, 0, 0.09);
    cursor: pointer;
}

#processing_section .process_management .card_one img:hover {
    box-shadow: none;
}

#processing_section .process_management .card_one h3 {
    text-transform: capitalize;
    color: gray;
    font-size: 0.8rem;
    text-align: center;
}


/* processing section ends */


/* customer review sectio starts */

#review_section {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#review_section h2 {
    padding: 10px 0;
    text-transform: uppercase;
    text-align: left;
    font-size: 42px;
    font-family: 'Play', sans-serif;
}

#review_section h2 span {
    color: rgb(139, 27, 27);
}

#review_section .container {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#review_section .container .container1 {
    background-color: #fbf4f3;
    width: 280px;
    height: 360px;
    /* border: 1px solid gray; */
    border-radius: 10px;
    display: flex;
    
    flex-direction: column;
    align-items: center;
}

#review_section .container .container1:hover {
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.09), 0 10px 10px rgba(0, 0, 0, 0.09);
}

#review_section .container .container1 img {
    width: 50%;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #fff;
    align-self: center;
}

#review_section .container .container1 h2 {
    width: 100%;
    font-size: medium;
    text-align: center;
    background: cornsilk;
}

#review_section .container .container1 p {
    font-size: 13px;
    color: gray;
    padding: 0 15px;
}


/* customer review section ends */


/* footer section starts */

.footer {
    background: #000;
    padding: 30px 0px;
    font-family: 'Play', sans-serif;
    text-align: center;
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: gray;
    font-size: 0.8em;
}

.footer .row a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}

.footer .row a:hover {
    color: #fff;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

@media (max-width:720px) {
    .footer {
        text-align: left;
        padding: 5%;
    }
    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }
    .footer .row a i {
        margin: 0% 3%;
    }
}


/* footer section ends */